body{display:block;margin:0px;}
h1{font-weight:bold;line-height:0px;font-size:50px;}
h3{font-weight:bold;line-height:0px;font-size:32px;}
.sticky{position: -webkit-sticky;position: sticky;top: 0;}
.head-main{color:#f4f5f6;background-color:#ffffff;background-image:url("../static/img/japan-bk-min.jpg");
    background-attachment:fixed;background-position:center;background-size:cover;background-repeat:no-repeat;
    text-align:center;height: 500px;margin-top: -60px;}
#name{position:relative; top: 250px;}
#tab1,
#tab2,
#tab3,
.head-secondary{height:100px;}
.icons{height:auto;letter-spacing:1em;padding:15px;text-align:center;}
.top{font-family:Colfax Light;color:#606c76;height:auto;font-weight:100;padding-top: 1rem; padding-bottom: 1rem;}
@media only screen and (min-width: 768px) {.top{padding-left: 12rem; padding-right: 12rem;}}
.top-secondary{height:auto;padding-bottom:5px;padding-top:5px;}
.element{font-family:Colfax Light;text-align:center;margin:0px;display:inline-block;}
.container-secondary{top:25px;}
nav{display:block;text-align:center;background-color:lightgray;width:auto;}
@media screen and (min-width: 768px) {.rwd-break{display: none;}}
.card-padding{padding:-1px;}
.card-panel{padding:5px;}
.card-article-padding{padding:-5px;}
.card-link-block{height:90px;background-color:#ffffff;box-shadow:0 0 5px 0 rgba(0,0,0,0.2);transition:0.5s;opacity:0.4;}
.card-link-block:hover{height:100px;opacity:1;}
.card-poster{margin-left:5px;margin-right:5px;}
.ubyssey-block{background-image:url(../static/img/ubyssey.jpeg);background-position:center;background-size:cover;}
.turing-block{background-image:url(../static/img/download.png);background-position:center;background-size:cover;}
.munsa-block{background-image:url(../static/img/modelunweb1.png);background-position:center;background-size:cover;}
.rloop-block{background-image:url(../static/img/rloop.png);background-position:center;background-size:cover;}
.psichi-block{background-image:url(../static/img/psichi.png);background-position:center;background-size:cover;}
.tooltip{position:relative;display:inline-block;border-bottom:1px dotted black;}
.tooltip .tooltiptext{visibility:hidden;width:120px;background-color:#555;color:#fff;text-align:center;border-radius:6px;
    padding:5px 0;position:absolute;z-index:1;bottom:125%;left:50%;margin-left:-60px;opacity:0;transition:opacity 1s;}
.tooltip .tooltiptext::after{content:"";position:absolute;top:100%;left:50%;margin-left:-5px;border-width:5px;
    border-style:solid;border-color:#555 transparent transparent transparent;}
.tooltip:hover .tooltiptext{visibility:visible;opacity:1;}
#im{max-width:100%;flex:0.5;}
hr{color:#f4f5f6;display:block;margin-top:0.5em;margin-bottom:0.5em;margin-left:50px;margin-right:50px;
    border-style:inset;border-width:1px;}
.typed-cursor{line-height:50px;font-size:50px;}
div.gallery{display:block;margin:auto;width:100%;transition:0.5s;padding-left:50%;padding-right:50%;}
div.gallery:hover{width:110%;}
div.gallery img{width:100%;height:auto;}
.responsive{padding:0 6px;float:left;width:50%;}
@media only screen and (min-device-width:375px)
and (max-device-width:667px) and (-webkit-min-device-pixel-ratio:2){.responsive{padding:0 0px;width:100%;}
div.gallery{padding-left:0px;padding-right:0px;}
}
.clearfix:after{content:"";display:table;clear:both;}