body {
    display: block;
    margin: 0px;

}

h1 {
  font-weight: bold;
  line-height: 0px;
  font-size: 50px;
}

h3 {
  font-weight: bold;
  line-height: 0px;
  font-size: 32px; 
}

header {
    color: #f4f5f6;
    background-color: #ffffff;
    background-image: url("./img/japan-bk.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Colfax Thin;
    text-align: center;
    height: 500px;
    margin: 0px;
}
section {
    font-family: Futura;
    text-align: center;
    height: 400px;
    margin-left: 50px; 
    margin-right: 50px;
    padding-bottom: 50px;
}

.top {
    font-family: Colfax Light;
    color: #606c76;
    height: 150px;
    font-weight: 100;
}

.element {
    font-family: Colfax Light;
    text-align: center;
    margin: 0px;
    display: inline-block;

}

.container {
    position: relative;
    top: 200px;
    display: inline-block;
    width: auto;

}

.card {
    background-color: #f4f5f6;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: auto;
    padding-top: 10px;
    display: inline-block;
}


.card:hover {
    background-color: #e3e6e8;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-padding {
    padding: 10px;
}

@media only screen and (max-width: 767px) {
column-left {
    width: 100%;
    float: left;

}

.column-right {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}   
}

@media only screen and (min-width: 768px) {
.column-left {
    float: left;
    width: 48%;
    margin: auto;
}

.column-right {
    float: right;
    width: 48%;
    margin: auto;
}

}
    hr { 
    color: #f4f5f6;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 50px;
    margin-right: 50px;
    border-style: inset;
    border-width: 1px;
} 

.typed-cursor {
  font-weight: bold;
  line-height: 0px;
  font-size: 32px; 
}

