header {
  background-color: #ffffff;
  background-image: url("./img/japan-bk.jpg");
  background-position: center;
  background-size: cover;
  font-family: Helvetica;
  text-align: center;
  height: 500px;
}
